#menu {
  background-color: #09440e;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1em;
  margin-left: -20px;
  position: absolute;
  top: 0;
  left: 0;
  height: 8%;
  color: white;
  position: relative;
}

#title {
  margin-left: 8%;
}

#menu-links {
  display: flex;
  padding-left: 1em;
}

#menu-links a {
  padding-right: 0.5em;
  color: white;
  cursor: pointer;
}

body {
  background-image: none;
}

#menuVetIcon {
  position: absolute;
    width: 6%;
    top: 10%;
    left: 2%;
}

#messageFeed {
  position: absolute;
  left: 48%;
  top: 37%;
  z-index: 0;
}