#likeimage {
    width: 12px;
}

#cardHolder {
    display: flex;
    justify-content: center;
}

#likeAndNumberHolder {
    position: absolute;
    bottom: 6%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 17%;
    font-size: 22px;
}

#nameHolder {
    font-size: 30px;
    position: absolute;
    left: 3%;
    top: 6%;
}

#messageHolder {
    position: absolute;
    right: 2%;
    bottom: 6%;
    width: 78%;
    height: 130px;
}

#dateAndTimeHolder {
    position: absolute;
    right: 2%;
    top: 6%;
    width: 22%;
    display: flex;
    justify-content: space-between;
}