#newuserbutton {
  background-color: blue;
  color: white;
}

#register-div {
  background-color: rgb(255, 255, 255, 0.8);
  width: 25%;
  position: absolute;
  bottom: 75px;
  right: 150px;
  height: 40%;
}

#signup-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#newuserbutton {
  display: block;
  margin: 0 auto;
}

body {
  font-family: 'Roboto', sans-serif;
}